
<%- include("partials/header"); -%>

<h2>Home</h2>
<p class="startingCont"><%= startingContent %></p>

<%# There is old method of for loop in to-do list project. Here is new method using foreach loop %>



<% posts.forEach(function(post) { %>

  <div class="panel panel-default">

    <div class="panel-body">
      <h2><%= post.title %></h2>
      <p class="text-muted">Posted on: <%= post.postedAt %></p>
    </div>

    <!-- <p><%= post.postedAt %></p> -->

    <div class="panel-footer">
      <p>
        <% if (post.content.length > 100) { %>
          <%= post.content.substring(0, 100) + " ..."; %>
          <a href="/posts/<%=post._id%>">
            Read More
          </a>
        <% } else{ %>
          <%= post.content %>
        <% } %>

        <br>

        <a href="/posts/<%=post._id%>">
          <button type="submit" class="btn mybtn btn-info">Read More</button>
        </a>
        <a href="/edit/<%=post._id%>">
            <button type="submit" class="btn mybtn btn-warning">Edit</button>
        </a>
        <a href="/delete/<%=post._id%>">
            <button type="submit" class="btn mybtn btn-danger">Delete</button>
        </a>
      </p>
    </div>
  </div>
<% }) %>


<%- include("partials/footer"); -%>
